@media screen and (max-width: 767px) {
  #hero-container {
    width: 100%;
    height: 300px;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media screen and( min-width: 767px) and (max-width: 1024px) {
  #hero-container {
    width: 100%;
    height: 500px;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #hero-container {
    width: 100%;
    height: 700px;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
