@media screen and (max-width: 480px) {
  #hero-container {
    width: 100%;
    height: 300px;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #hero-container > h1 {
    position: absolute;
    top: 30%;
    bottom: 30%;
  }
}

@media screen and (max-width: 768px) {
  #hero-container {
    width: 100%;
    height: 400px;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  #hero-container > h1 {
    position: absolute;
    top: 45%;
    bottom: 30%;
  }
}

@media screen and (min-width: 1024px) {
  #hero-container {
    width: 100%;
    height: 600px;
  }
  img {
    object-fit: cover;
    height: 80%;
    width: 100%;
  }
  #hero-container > h1 {
    position: absolute;
    top: 35%;
    bottom: 30%;
  }
}
