@media screen and (max-width: 767px) {
  #home-text {
    width: 100%;
    height: 200px;
  }
  #home-text > p {
    font-size: medium;
    text-align: center;
    padding: 50px;
  }
}

@media screen and( min-width: 767px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
}
