#sign-up {
  background-color: #465362;
}

#sign-up > p {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #home-text > p {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
  }

  #sign-up {
    height: 90px;
    background-color: #465362;
    width: 20%;
  }

  #sign-up:hover {
    background-color: #f9dc5c;
  }
  #sign-up:hover > p {
    color: black;
  }
}

@media screen and (min-width: 768px) {
  #home-text > p {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
  }
  #sign-up {
    height: 100px;
    width: 100%;
    max-width: 768px;
    background-color: #465362;
  }
  #sign-up > p {
    color: white;
  }
  #sign-up:hover > p {
    color: palegoldenrod;
  }
}

@media screen and (min-width: 1024px) {
  #home-text > p {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
  }
  #sign-up {
    height: 120px;
    background-color: #465362;
  }
  #sign-up:hover > p {
    color: palegoldenrod;
  }
}
