p {
  color: #465362;
}

#close-signup {
  width: 10vw;
}

#signup-heading {
  width: 90vw;
}

.sign-input,
#signup-submit,
#cancel-signup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.sign-input > p {
  margin-bottom: 8px;
  color: #333;
  font-weight: 600;
}

input {
  padding: 12px;
  border: 1px solid rgb(240, 234, 234);
  border-radius: 5px;
  background-color: rgb(240, 234, 234);
  font-size: 1rem;
  color: #1f1d1d;
  font-weight: bold;
}

.radio-select-signup {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-top: 10px;
}

#verification-question {
  padding: 0 50px;
  text-align: center;
}

#question-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 50px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  font-size: 20px;
}

input[type="radio"] {
  appearance: none;
  height: 2px;
  width: 2px;
  border: 2px solid #465362;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;

  place-content: center;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #465362;
  border-color: #465362;
}

@media screen and (min-width: 768px) {
  #verification-question {
    font-size: 25px;
  }
  #close-signup {
    width: 5vw;
  }

  #signup-heading {
    width: 95vw;
  }
}
